.header {
    padding: 50px;
    box-shadow: rgba(253, 253, 253, 0.452) 0px 3px 8px;
    background-color: #2c2c2c;

    &__title {
        text-align: center;
    }
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}